<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>0x64azana</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
</head>
<body>
  <header class="site-header">
    <div class="header-left">
      <h1 class="site-title"><a href="../../../about.html">0x64azana</a></h1>
    </div>
    <nav class="header-nav">
      <ul class="nav-menu">
        <li><a href="../../../index.html">Home</a></li>
        <li><a href="../index.html" class="active">Insights</a></li>
        <li><a href="../../projects/index.html">Projects</a></li>
        <li><a href="../../../services.html">Services</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="projects-section">
      <h2>Notes</h2>

	<article class="post-item">
	  <h3 style="margin-top: 0;">Title</h3>
	  <p style="margin-bottom: 16px;">Introduction to Programming Basics</p>	
	  <h3 style="margin-top: 0;">Notes</h3>
	  <p style="margin-bottom: 12px;">
	  </p>
	</article>
	
    <p style="text-align: center;">Hope you make use of these notes!</p>
  </main>

  <footer>
    <p><a href="https://x.com/0x64azana" target="_self">Twitter</a></p>
  </footer>
</body>
</html>

