<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>0x64azana</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
</head>
<body>
  <header class="site-header">
    <div class="header-left">
      <h1 class="site-title"><a href="../../../about.html">0x64azana</a></h1>
    </div>
    <nav class="header-nav">
      <ul class="nav-menu">
        <li><a href="../../../index.html">Home</a></li>
        <li><a href="../index.html" class="active">Insights</a></li>
        <li><a href="../../projects/index.html">Projects</a></li>
        <li><a href="../../../contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="projects-section">
      <h2>[SUB MENU TITLE]</h2>

      <article class="post-item">
        <h3><a href="[POST.html]" target="_self">[POST TITLE]</a></h3>
        <p>[POST-DESCRIPTION]</p>
      </article>

    </section>
      <p style="text-align: center;">Hope you enjoy the reads!</p>
  </main>

  <footer>
    <p><a href="https://x.com/badin9012" target="_self">Twitter</a></p>
  </footer>
</body>
</html>

